<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>MedTransaction</servlet-name>
        <servlet-class>coshms.servlets.emergency.MedTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmTransaction</servlet-name>
        <servlet-class>coshms.servlets.emergency.PharmTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalncMedsTransaction</servlet-name>
        <servlet-class>coshms.servlets.emergency.BalncMedsTransaction</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>coshms.servlets.emergency.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestReqServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestReqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthCriticalTestSchAddServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthCriticalTestSchAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthSearchServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestDisAddServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestDisAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestDomainAddServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestDomainAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestDomainEditServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestDomainEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestPaymentAddServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestPaymentAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestPlanServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestReportViewServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestReportViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestResultAddServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestResultAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestResultVerifyServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestResultVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestSampleAddServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestSampleAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestSampleCardServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestSampleCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthTestSampleRejAddServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthTestSampleRejAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pthTestAuditServlet</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.pthTestAuditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadImageServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadTestAuditServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadTestAuditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadTestDisAddServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadTestDisAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadTestDomainAddServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadTestDomainAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadTestFeeAddServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadTestFeeAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadTestPlanServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadTestPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadTestReqServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadTestReqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadTestResultServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadTestResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadSearchServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPtInfo</servlet-name>
        <servlet-class>coshms.servlets.emergency.EditPtInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Encounter</servlet-name>
        <servlet-class>coshms.servlets.emergency.Encounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPatient</servlet-name>
        <servlet-class>coshms.servlets.emergency.RegisterPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatient</servlet-name>
        <servlet-class>coshms.servlets.emergency.SearchPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeTPRB</servlet-name>
        <servlet-class>coshms.servlets.emergency.TakeTPRB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Treatment</servlet-name>
        <servlet-class>coshms.servlets.emergency.Treatment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadTestDomainEditServlet</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadTestDomainEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TreatmentReport</servlet-name>
        <servlet-class>coshms.servlets.emergency.TreatmentReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HealthCardServlet</servlet-name>
        <servlet-class>coshms.servlets.emergency.HealthCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReport</servlet-name>
        <servlet-class>coshms.servlets.emergency.ViewReport</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RegFromEachCityReport</servlet-name>
        <servlet-class>coshms.servlets.emergency.RegFromEachCityReport</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>coshms.servlets.administration.NewUser</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>AccessControl</servlet-name>
        <servlet-class>coshms.servlets.administration.AccessControl</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>coshms.servlets.emergency.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MlcCasesReport</servlet-name>
        <servlet-class>coshms.servlets.emergency.MlcCasesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegPatientsReport</servlet-name>
        <servlet-class>coshms.servlets.emergency.RegPatientsReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncPatientsReport</servlet-name>
        <servlet-class>coshms.servlets.emergency.EncPatientsReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumptionReport</servlet-name>
        <servlet-class>coshms.servlets.emergency.ConsumptionReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentPharmStockReport</servlet-name>
        <servlet-class>coshms.servlets.emergency.CurrentPharmStockReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthLogin</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PthLogout</servlet-name>
        <servlet-class>coshms.servlets.pathalogy.PthLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadLogin</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadLogout</servlet-name>
        <servlet-class>coshms.servlets.radiology.RadLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessControl</servlet-name>
        <url-pattern>/administration/AccessControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/administration/NewUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BalncMedsTransaction</servlet-name>
        <url-pattern>/emergency/BalncMedsTransaction</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MedTransaction</servlet-name>
        <url-pattern>/emergency/MedTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmTransaction</servlet-name>
        <url-pattern>/emergency/PharmTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/emergency/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestReqServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthCriticalTestSchAddServlet</servlet-name>
        <url-pattern>/pathalogy/PthCriticalTestSchAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthSearchServlet</servlet-name>
        <url-pattern>/pathalogy/PthSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestDisAddServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestDisAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestDomainAddServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestDomainAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestDomainEditServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestDomainEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestPaymentAddServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestPaymentAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestPlanServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestReportViewServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestReportView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestResultAddServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestResultAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestResultVerifyServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestResultVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestSampleAddServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestSampleAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestSampleCardServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestSampleCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthTestSampleRejAddServlet</servlet-name>
        <url-pattern>/pathalogy/PthTestSampleRejAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pthTestAuditServlet</servlet-name>
        <url-pattern>/pathalogy/pthTestAudit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadImageServlet</servlet-name>
        <url-pattern>/radiology/RadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadTestAuditServlet</servlet-name>
        <url-pattern>/radiology/RadTestAudit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadTestDisAddServlet</servlet-name>
        <url-pattern>/radiology/RadTestDisAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadTestDomainAddServlet</servlet-name>
        <url-pattern>/radiology/RadTestDomainAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadTestFeeAddServlet</servlet-name>
        <url-pattern>/radiology/RadTestFeeAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadTestPlanServlet</servlet-name>
        <url-pattern>/radiology/RadTestPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadTestReqServlet</servlet-name>
        <url-pattern>/radiology/RadTestReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadTestResultServlet</servlet-name>
        <url-pattern>/radiology/RadTestResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadSearchServlet</servlet-name>
        <url-pattern>/radiology/RadSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPtInfo</servlet-name>
        <url-pattern>/emergency/EditPtInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Encounter</servlet-name>
        <url-pattern>/emergency/Encounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPatient</servlet-name>
        <url-pattern>/emergency/RegisterPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatient</servlet-name>
        <url-pattern>/emergency/SearchPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeTPRB</servlet-name>
        <url-pattern>/emergency/TakeTPRB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Treatment</servlet-name>
        <url-pattern>/emergency/Treatment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadTestDomainEditServlet</servlet-name>
        <url-pattern>/radiology/RadTestDomainEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreatmentReport</servlet-name>
        <url-pattern>/emergency/TreatmentReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HealthCardServlet</servlet-name>
        <url-pattern>/emergency/HealthCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReport</servlet-name>
        <url-pattern>/emergency/reports/ViewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegFromEachCityReport</servlet-name>
        <url-pattern>/emergency/reports/RegFromEachCityReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/emergency/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MlcCasesReport</servlet-name>
        <url-pattern>/emergency/reports/MlcCasesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegPatientsReport</servlet-name>
        <url-pattern>/emergency/reports/RegPatientsReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncPatientsReport</servlet-name>
        <url-pattern>/emergency/reports/EncPatientsReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumptionReport</servlet-name>
        <url-pattern>/emergency/ConsumptionReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentPharmStockReport</servlet-name>
        <url-pattern>/emergency/CurrentPharmStockReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthLogin</servlet-name>
        <url-pattern>/pathalogy/PthLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PthLogout</servlet-name>
        <url-pattern>/pathalogy/PthLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadLogin</servlet-name>
        <url-pattern>/radiology/RadLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadLogout</servlet-name>
        <url-pattern>/radiology//RadLogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <ejb-ref>
        <ejb-ref-name>ejb/PharmacyBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.emergency.PharmacyRemoteHome</home>
        <remote>coshms.ejb.emergency.PharmacyRemote</remote>
        <ejb-link>hcare-ejb.jar#PharmacyBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/PathalogyBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.pathalogy.PathalogyRemoteHome</home>
        <remote>coshms.ejb.pathalogy.PathalogyRemote</remote>
        <ejb-link>hcare-ejb.jar#PathalogyBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/RadiologyBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.radiology.RadiologyRemoteHome</home>
        <remote>coshms.ejb.radiology.RadiologyRemote</remote>
        <ejb-link>hcare-ejb.jar#RadiologyBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/emergency/RegistrationMedicationBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.emergency.RegistrationMedicationRemoteHome</home>
        <remote>coshms.ejb.emergency.RegistrationMedicationRemote</remote>
        <ejb-link>hcare-ejb.jar#RegistrationMedicationBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/domain/DiseaseBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.domain.DiseaseRemoteHome</home>
        <remote>coshms.ejb.domain.DiseaseRemote</remote>
        <ejb-link>hcare-ejb.jar#DiseaseBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/domain/EmployeeBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.domain.EmployeeRemoteHome</home>
        <remote>coshms.ejb.domain.EmployeeRemote</remote>
        <ejb-link>hcare-ejb.jar#EmployeeBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/domain/RegisterPatientBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.domain.RegisterPatientRemoteHome</home>
        <remote>coshms.ejb.domain.RegisterPatientRemote</remote>
        <ejb-link>hcare-ejb.jar#RegisterPatientBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/domain/WardBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.domain.WardRemoteHome</home>
        <remote>coshms.ejb.domain.WardRemote</remote>
        <ejb-link>hcare-ejb.jar#WardBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/RepEmgBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.emergency.RepEmgRemoteHome</home>
        <remote>coshms.ejb.emergency.RepEmgRemote</remote>
        <ejb-link>hcare-ejb.jar#RepEmgBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/emergency/RepEmgBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.emergency.RepEmgRemoteHome</home>
        <remote>coshms.ejb.emergency.RepEmgRemote</remote>
        <ejb-link>hcare-ejb.jar#RepEmgBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/AuthenticationBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>coshms.ejb.domain.AuthenticationRemoteHome</home>
        <remote>coshms.ejb.domain.AuthenticationRemote</remote>
        <ejb-link>hcare-ejb.jar#AuthenticationBean</ejb-link>
    </ejb-ref>
    </web-app>
