/* CSS Document */
a{color:#000000;text-decoration:none}

a:hover{
	text-decoration: underline;
}
/*background-color:#CCCCCC*/

DIV,p,form, fieldset, h1, h2, h3, h4, h5, h6 {margin:0; padding:0}

p{font-family: courier new, courier, verdana, arial, sans-serif}

.leftMenu{font-family: arial, courier new; font-size:x-small}

.genFont{ font-family: "Verdana"; color: #000000; font-size: 8pt}

.genBFont{
	font-family: Verdana;
	color: #000000;
	font-size: 8pt;
    font-weight: bold;
}

.inputField {border:1 solid #C0C0C0}

.btnFormat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	border:1 solid #808080;
	position:relative;
	height: 18px;
	width: 70px;
	text-align: center;
	left: 0px;
}

.btnLargeFormat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	border:1 solid #808080;
	position:relative;
	text-align: center;
}

.lstFormat {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	text-align: center;
	left: 0px;

	*/
	border:1 solid #C0C0C0;

	}


.tableHeader {
	background-color: #CCCCCC;
	background-position: center;
	font-family: Century Gothic, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}
/*#CCCCCC*/

.tableFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #CCCCCC;
}

.required {
	color: #FF0000;
}

.reqMessage {
	background-color: #F2F4FD;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 7pt;
	color: #003366;
}

.mainTable {
	border: 1px solid #CCCCCC;
}

.sep {
	color: #999999;
	
}
.unnamed1 {
}
